.not-started-card,
.in-progress-card,
.completed-card {
	background-color: #101204; /*individual cards will be color #303134*/
	min-height: 350px;
}

p {
	color: #fff;
	margin: 0px;
}

.infoCards {
	color: #fff;
	background-color: #303134;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	display: block;
}
.not-started-col:last-child {
	margin-bottom: 50px;
}

.card-delete-btn {
	color: #fff;
}
.dropZone {
	min-height: 300px;
	transition: background-color 0.2s;
}

.dropZone:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 768px) {
	#row-with-column-cards {
		flex-direction: column;
		align-items: center;
	}
	#row-with-column-cards > div {
		width: 85%;
	}
}
