.not-started-card,
.in-progress-card,
.completed-card {
	background-color: #101204; /*individual cards will be color #303134*/
	min-height: 350px;
}

p {
	color: #fff;
	margin: 0px;
}

.infoCards {
	color: #fff;
	background-color: #303134;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	display: block;
}
